body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('https://st2.depositphotos.com/4966263/10110/v/950/depositphotos_101104998-stock-illustration-hand-drawn-fashion-clothes-pattern.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#app {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #333 10px solid;
}

h1, h2 {
    color: #333;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
}
.nav-link:active , .nav.nav-tabs .active {
    background-color: #c3e0fe!important;
}
